#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    /*margin: 0 100px;*/
    margin:0px 40px;
    justify-content: space-between;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover,:focus {
 background-color: #D3573C;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

 #photographer_page h2 {
    color: #D3573C;
    font-size: 36px;
}

#flex-area {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#flex-area a {
    text-decoration: none;
    color: #000000;
    display: block;
    width: calc((100% / 3) - 100px);
    margin: auto;
    height: 137px;
    background: #ffffff;
    
    border-radius: 10px;
    box-shadow: 1px 0px 3px 0px rgba(158, 158, 158, 1);
}
/*Taille images cartes*/
#flex-area a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
/*Selection ensemble sans l'image*/
#flex-area a *:not(img) {
    margin-left: 5px;
    display: flex;
    line-height: 1.5em;
}

#profile_picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}
.profile_name {
    color: #D3573C;
}
.profile_description {
    margin-left: 30px;
}

.mantra.profile {
  color:#525252;
}