@import url("photographer.css");

@media screen and (max-width: 375px) {
    .photographer_section {
        display: block;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        margin-top: 100px;
    }
  }

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 4%;
}

.logo {
    height: 50px;
    margin-left: 4%;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.city {
    color: #901c1c;
    
}
.country {
    color: #901c1c;
}

.price {
    color: grey;
    margin: 0;
}

.tagline {
    margin-top: 6px;
    margin-bottom: 6px;
}

.photographer_portrait {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

#photographer_page h2 {
    margin-left: 40px;
    display: flex;
   
}
.photograph-header {
    display: flex;
    flex-wrap: wrap;
}

#filter {
    width: 50px;
    height:60px;
    background-color: #901C1C;
    margin-left: 80px;
    padding: 11px;
    border: none;
    border-radius: 4px ;
    cursor: pointer;
}

.popularity, .date, .title {
    color: white;
    font-size: ;
    font-weight: ;
    

}
